<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228702189839-ujtmjgim9judb8absi1d39kb9rrsou61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228702189839-ujtmjgim9judb8absi1d39kb9rrsou61</string>
	<key>API_KEY</key>
	<string>AIzaSyDcUX96F6NWEI0ecJXc5MpjB-vJdAnrsvo</string>
	<key>GCM_SENDER_ID</key>
	<string>228702189839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahimgok.agrotech-prot2</string>
	<key>PROJECT_ID</key>
	<string>agrotech-prot2-base</string>
	<key>STORAGE_BUCKET</key>
	<string>agrotech-prot2-base.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228702189839:ios:9764dce88bb7371cbee67a</string>
</dict>
</plist>